<div class="registration-container">
    <h2>Registration</h2>
    <form [formGroup]="registrationForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" formControlName="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" formControlName="lastName" required>
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" id="confirmPassword" formControlName="confirmPassword" required>
        <div *ngIf="registrationForm.get('confirmPassword')?.hasError('passwordMismatch')">
          Passwords do not match.
        </div>
      </div>
      <button type="submit" [disabled]="registrationForm.invalid">Register</button>
    </form>
  </div>
  